  <h1>Hey, <%=@user.name%> </h1>
  <p>
    Welcome to our site!
  </p>
  <p>
    To login to the site, just follow this link: <%= @url %>
  </p>

  <p>
    Edit Profile: <%= edit_user_url(@user, :host => "boahero.herokuapp.com") %>
  </p>
