<!DOCTYPE html>
<html>
<head>
  <title>BoAHero</title>
  <link rel="icon" type="image/png" href="http://pngimg.com/upload/tamato_PNG2041.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Things are happening, maybe.</h1>

<%= yield %>

</body>
</html>
